{"openapi":"3.1.1","info":{"title":"LunkvayAPI | v1","version":"1.0.0"},"servers":[{"url":"https://lunkvay.runasp.net/"}],"paths":{"/api/v1/User/{userId}":{"get":{"tags":["User"],"parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/UserDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}}}}},"/api/v1/User/all":{"get":{"tags":["User"],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}}}}}}},"/api/v1/Profile/current-user-profile":{"get":{"tags":["Profile"],"responses":{"200":{"description":"OK"}}}},"/api/v1/Profile/{userId}":{"get":{"tags":["Profile"],"parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/Profile/update":{"patch":{"tags":["Profile"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/friends/labels":{"get":{"tags":["FriendshipLabels"],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipLabelDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipLabelDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipLabelDTO"}}}}}}},"post":{"tags":["FriendshipLabels"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFriendshipLabelRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateFriendshipLabelRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateFriendshipLabelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/FriendshipLabelDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/FriendshipLabelDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/FriendshipLabelDTO"}}}}}},"delete":{"tags":["FriendshipLabels"],"parameters":[{"name":"label","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/friends/labels/{friendshipLabelId}":{"delete":{"tags":["FriendshipLabels"],"parameters":[{"name":"friendshipLabelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/friends":{"get":{"tags":["Friendships"],"parameters":[{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}}}}}}},"/api/v1/friends/{userId}":{"get":{"tags":["Friendships"],"parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}}}}}}},"/api/v1/friends/incoming":{"get":{"tags":["Friendships"],"parameters":[{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}}}}}}},"/api/v1/friends/outgoing":{"get":{"tags":["Friendships"],"parameters":[{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FriendshipDTO"}}}}}}}},"/api/v1/friends/possible":{"get":{"tags":["Friendships"],"parameters":[{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserListItemDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserListItemDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserListItemDTO"}}}}}}}},"/api/v1/friends/{friendId}":{"post":{"tags":["Friendships"],"parameters":[{"name":"friendId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/FriendshipDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/FriendshipDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/FriendshipDTO"}}}}}}},"/api/v1/friends/status/{friendshipId}":{"patch":{"tags":["Friendships"],"parameters":[{"name":"friendshipId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFriendshipStatusRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateFriendshipStatusRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateFriendshipStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/FriendshipDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/FriendshipDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/FriendshipDTO"}}}}}}},"/api/v1/chat-image/{userId}/{chatId}":{"get":{"tags":["ChatImage"],"parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/chat-image/{chatId}":{"post":{"tags":["ChatImage"],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"avatarFile":{"$ref":"#/components/schemas/IFormFile"}}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["ChatImage"],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/chats/members/{chatId}":{"get":{"tags":["ChatMembers"],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMemberDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMemberDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMemberDTO"}}}}}}}},"/api/v1/chats/members":{"post":{"tags":["ChatMembers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatMemberRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateChatMemberRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateChatMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}}}}}},"patch":{"tags":["ChatMembers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateChatMemberRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateChatMemberRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateChatMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}}}}}},"delete":{"tags":["ChatMembers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteChatMemberRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/DeleteChatMemberRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DeleteChatMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatMemberDTO"}}}}}}},"/api/v1/chats/messages/{chatId}":{"get":{"tags":["ChatMessages"],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pinned","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageDTO"}}}}}}}},"/api/v1/chats/messages":{"post":{"tags":["ChatMessages"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatMessageRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateChatMessageRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}}}}}},"delete":{"tags":["ChatMessages"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteChatMessageRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/DeleteChatMessageRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DeleteChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/chats/messages/edit":{"patch":{"tags":["ChatMessages"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEditChatMessageRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateEditChatMessageRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateEditChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}}}}}}},"/api/v1/chats/messages/pin":{"patch":{"tags":["ChatMessages"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePinChatMessageRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdatePinChatMessageRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdatePinChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}}}}}}},"/api/v1/Chats":{"get":{"tags":["Chats"],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatDTO"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatDTO"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatDTO"}}}}}}}},"/api/v1/Chats/group":{"post":{"tags":["Chats"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupChatRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateGroupChatRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateGroupChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatDTO"}}}}}}},"/api/v1/Chats/{chatId}":{"patch":{"tags":["Chats"],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateChatRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateChatRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ChatDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/ChatDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChatDTO"}}}}}},"delete":{"tags":["Chats"],"parameters":[{"name":"chatId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/Avatar":{"get":{"tags":["Avatar"],"responses":{"200":{"description":"OK"}}},"post":{"tags":["Avatar"],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"avatarFile":{"$ref":"#/components/schemas/IFormFile"}}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Avatar"],"responses":{"200":{"description":"OK"}}}},"/api/v1/Avatar/{userId}":{"get":{"tags":["Avatar"],"parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/Auth/login":{"post":{"tags":["Auth"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"string"}},"text/json":{"schema":{"type":"string"}}}}}}},"/api/v1/Auth/logout":{"post":{"tags":["Auth"],"responses":{"200":{"description":"OK"}}}},"/api/v1/Auth/register":{"post":{"tags":["Auth"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"ChatDTO":{"required":["id","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"lastMessage":{"$ref":"#/components/schemas/ChatMessageDTO2"},"type":{"$ref":"#/components/schemas/ChatType"},"createdAt":{"type":"string","format":"date-time"},"memberCount":{"type":"integer","format":"int32"}}},"ChatMemberDTO":{"required":["id","userId","userName","role"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"userName":{"type":"string"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"isOnline":{"type":"boolean"},"memberName":{"type":["string","null"]},"role":{"$ref":"#/components/schemas/ChatMemberRole"}}},"ChatMemberRole":{"type":"integer"},"ChatMessageDTO":{"required":["systemMessageType","message"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"senderId":{"type":["string","null"],"format":"uuid"},"senderUserName":{"type":["string","null"]},"senderFirstName":{"type":["string","null"]},"senderLastName":{"type":["string","null"]},"senderIsOnline":{"type":["boolean","null"]},"systemMessageType":{"$ref":"#/components/schemas/SystemMessageType"},"message":{"type":"string"},"isEdited":{"type":"boolean"},"isPinned":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":["string","null"],"format":"date-time"},"pinnedAt":{"type":["string","null"],"format":"date-time"},"isMyMessage":{"type":"boolean"}}},"ChatMessageDTO2":{"required":["systemMessageType","message"],"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"senderId":{"type":["string","null"],"format":"uuid"},"senderUserName":{"type":["string","null"]},"senderFirstName":{"type":["string","null"]},"senderLastName":{"type":["string","null"]},"senderIsOnline":{"type":["boolean","null"]},"systemMessageType":{"$ref":"#/components/schemas/SystemMessageType"},"message":{"type":"string"},"isEdited":{"type":"boolean"},"isPinned":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":["string","null"],"format":"date-time"},"pinnedAt":{"type":["string","null"],"format":"date-time"},"isMyMessage":{"type":"boolean"}}},"ChatType":{"type":"integer"},"CreateChatMemberRequest":{"required":["chatId","memberId","inviterId"],"type":"object","properties":{"chatId":{"type":"string","format":"uuid"},"memberId":{"type":"string","format":"uuid"},"inviterId":{"type":"string","format":"uuid"}}},"CreateChatMessageRequest":{"required":["message"],"type":"object","properties":{"message":{"type":"string"},"chatId":{"type":["string","null"],"format":"uuid"},"receiverId":{"type":["string","null"],"format":"uuid"}}},"CreateFriendshipLabelRequest":{"required":["friendshipId","label"],"type":"object","properties":{"friendshipId":{"type":"string","format":"uuid"},"label":{"type":"string"}}},"CreateGroupChatRequest":{"required":["name","members"],"type":"object","properties":{"name":{"type":"string"},"members":{"type":"array","items":{"type":"string","format":"uuid"}}}},"DeleteChatMemberRequest":{"required":["chatId","memberId"],"type":"object","properties":{"chatId":{"type":"string","format":"uuid"},"memberId":{"type":"string","format":"uuid"}}},"DeleteChatMessageRequest":{"required":["messageId","chatId"],"type":"object","properties":{"messageId":{"type":"string","format":"uuid"},"chatId":{"type":"string","format":"uuid"}}},"FriendshipDTO":{"required":["friendshipId","userId","userName"],"type":"object","properties":{"friendshipId":{"type":"string","format":"uuid"},"status":{"$ref":"#/components/schemas/NullableOfFriendshipStatus"},"labels":{"type":["array","null"],"items":{"$ref":"#/components/schemas/FriendshipLabelDTO"}},"userId":{"type":"string","format":"uuid"},"userName":{"type":"string"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"isOnline":{"type":"boolean"}}},"FriendshipLabelDTO":{"required":["id","label"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"}}},"FriendshipStatus":{"type":"integer"},"IFormFile":{"type":"string","contentMediaType":"application/octet-stream"},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"NullableOfChatMemberRole":{"type":["integer","null"]},"NullableOfFriendshipStatus":{"type":["integer","null"]},"RegisterRequest":{"required":["email","userName","password"],"type":"object","properties":{"email":{"type":"string"},"userName":{"type":"string"},"password":{"type":"string"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]}}},"SystemMessageType":{"type":"integer"},"UpdateChatMemberRequest":{"required":["chatId","memberId"],"type":"object","properties":{"chatId":{"type":"string","format":"uuid"},"memberId":{"type":"string","format":"uuid"},"newMemberName":{"type":["string","null"]},"newRole":{"$ref":"#/components/schemas/NullableOfChatMemberRole"}}},"UpdateChatRequest":{"type":"object","properties":{"newName":{"type":["string","null"]}}},"UpdateEditChatMessageRequest":{"required":["messageId","chatId","newMessage"],"type":"object","properties":{"messageId":{"type":"string","format":"uuid"},"chatId":{"type":"string","format":"uuid"},"newMessage":{"type":"string"}}},"UpdateFriendshipStatusRequest":{"required":["status"],"type":"object","properties":{"status":{"$ref":"#/components/schemas/FriendshipStatus"}}},"UpdatePinChatMessageRequest":{"required":["messageId","chatId","isPinned"],"type":"object","properties":{"messageId":{"type":"string","format":"uuid"},"chatId":{"type":"string","format":"uuid"},"isPinned":{"type":"boolean"}}},"UpdateProfileRequest":{"type":"object","properties":{"newStatus":{"type":["string","null"]},"newAbout":{"type":["string","null"]}}},"UserDTO":{"required":["id","userName"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userName":{"type":"string"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"isDeleted":{"type":"boolean"},"isOnline":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":["string","null"],"format":"date-time"},"lastLogin":{"type":"string","format":"date-time"}}},"UserListItemDTO":{"required":["userId","userName"],"type":"object","properties":{"userId":{"type":"string","format":"uuid"},"userName":{"type":"string"},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]},"isOnline":{"type":"boolean"}}}}},"tags":[{"name":"User"},{"name":"Profile"},{"name":"FriendshipLabels"},{"name":"Friendships"},{"name":"ChatImage"},{"name":"ChatMembers"},{"name":"ChatMessages"},{"name":"Chats"},{"name":"Avatar"},{"name":"Auth"}]}